* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;   /* fills screen without distortion */
  display: block;
}
